/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 févr. 2022, 22:55:50
    Author     : nadee ben cheikh
*/

.button{
    -fx-background-color : #141416;
    
}
.button:hover{
    -fx-background-color : #252529;
    
}
.button:pressed{
    -fx-background-color : rgba(62, 183, 229, 1);
    
}
.vbox{
    -fx-border-radius: 30px;
}